<li>
	{{questions.text}}

<ul>
  {{#each questions.Choices}}
	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="choices">
  <label class="form-check-label">{{this}}</label>
</div>
  {{/each}}
</ul>



</li>
