<h1>COVID-19 Survey</h1>

<h2>Please answer the following questions</h2>

<ul>
  {{#each this}}
    {{{text}}}
    {{#each Choices}}
	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name={{this.QuestionId}}>
  <label class="form-check-label">{{this.text}}</label>
</div>
  {{/each}}
  {{/each}}
</ul>


<form class="create-form">

  <button type="submit">Submit Your Response</button>
</form>